<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>

        <div class="page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-header-box">
                            <h1 class="text-anime-style-2" data-cursor="-opaque">Our Donations</h1>
                            <nav class="wow fadeInUp">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Donations</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-campaign">
            <div class="container">
                <div class="row">
                    <% allRoom.forEach(room=> { %>  
                    <%let roomImage=JSON.parse(room.picture) %>
                        <div class="col-lg-4 col-md-6">
                            <div class="campaign-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="campaign-image">
                                    <figure>
                                        <a href="#" class="image-anime" data-cursor-text="View">
                                            <img src="/images/comment/<%= roomImage.filename %>" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="campaign-body">
                                    <div class="campaign-content">
                                        <h2><%= room.name %></h2>
                                        <p>Find out which items we need for our church's programs and services.</p>
                                    </div>
                                    <div class="campaign-btn">
                                        <a href="/donationsingle/<%= room.name %>" class="read-more-btn">donate</a>
                                    </div>
                                </div>                   
                            </div>
                        </div>
                    <%})%>
    
                </div>
            </div>
        </div>

        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>