<!DOCTYPE html>
<html class="no-js" lang="en">

<%- include('partials/head/header.ejs'); %>
    <body>

        <%- include('partials/head/menubar.ejs'); %>

        <div class="page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-header-box">
                            <h1 class="text-anime-style-2" data-cursor="-opaque">Our Gallery</h1>
                            <nav class="wow fadeInUp">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Our Gallery</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-gallery">
            <div class="container">
                <div class="row gallery-items page-gallery-box">
                    <% if(typeof gallery != "undefined"){ %>
                        <% gallery.forEach(gal => { %>
                            <% let Image = JSON.parse(gal.picture) %>
                    <div class="col-lg-4 col-6">
                        <div class="photo-gallery wow fadeInUp" data-cursor-text="View" style="visibility: visible; animation-name: fadeInUp;">
                            <a href="/images/gallery/<%= Image.filename %>">
                                <figure class="image-anime">
                                    <img src="/images/gallery/<%= Image.filename %>" alt="">
                                </figure>
                            </a>
                        </div>
                    </div>
                    <% }) %>
                    <%}%>
                </div>
            </div>
        </div>
        <%- include('partials/head/footer.ejs'); %>

    </body>
</html>