
<!doctype html>
<html lang="en">

<%- include('partials/heading.ejs'); %>

        <body data-sidebar="dark">

        <div id="layout-wrapper">

            <%- include('partials/header.ejs'); %>

            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Message</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item">
                                                <a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Message</li>
                                        </ol>
                                    </div>
                                </div>
                                    <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex mb-1">
                                            <h4 class="card-title mb-4">Message</h4>
                                            
                                                </div>
                                        <div class="table-responsive">
                                            <table class="table table-centered table-nowrap table-hover mb-0">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Message</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(typeof allMessage != "undefined"){ %>
                                                        <% let allMessag = allMessage.reverse() %>
                                                        <% allMessag.forEach(partner => { %>
                                                            
                                                            
                                                            <% if(partner.status != "unread"){ %>

                                                                <tr id="<%=partner._id%>t">                                                        <tr id="<%= partner._id %>">
                                                        <%}%>
                                                        <td>
                                                            <%= partner.firstName %> <%= partner.lastName %>
                                                        </td>
                                                        <td>
                                                            <%= partner.email %>
                                                        </td>
                                                        <td>
                                                            <%= partner.phoneNumber %>
                                                        </td>
                                                        <td>
                                                            <%= partner.message.slice(0,30) %> ...
                                                        </td>
                                                        
                                                        <td>
                                                            <%= partner.date %>
                                                        </td>
                                                       
                                                        <td>
                                                        <a href="/admin/message/<%= partner._id %>">
                                                            <span id="<%= partner._id %>" style="cursor: pointer; font-size: 12px;" class=" mr-2 text-primary fa fa-eye viewMessage"></span>
                                                        </a>
                                                       
                                                    </td>
                                                    </tr>
                                                        <%})%>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                
                <%- include('partials/footer'); %>
            </div>

        </div>

        <script src="/libs/jquery/jquery.min.js"></script>
        <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/libs/metismenu/metisMenu.min.js"></script>
        <script src="/libs/simplebar/simplebar.min.js"></script>
        <script src="/libs/node-waves/waves.min.js"></script>

        <script src="/js2/app.js"></script>
          <script src="/js2/new.js"></script>

    </body>

</html>
